{% extends 'base.html' %}
{% load static %}
{% block content %}



  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static "img/about-bg.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container mb-5">
    <div class="row">
        <div class="col-12 " style="height: 90px;">         <!-- bg will be white -->
            <p class="text-center  mt-5 font-weight-bold">ÖMER ABUT</p>
        </div>
        <div class="col-12">
            <p class="mt-5 font-weight-bold h5">Personal Information</p> <!-- ilk bölüm-->
            <div class="row">
                <div class="col-4"><p class="text-left">Adress</p></div>
                <div class="col-1"><p class="text-left">:</p></div>   
                <div class="col-7"><p class="text-left">Gülbahar Mah. Kurtuluş 1 Sok No:15/10 Şişli/İstanbul</p></div>
        </div>
            <div class="row mt-2">
                <div class="col-4"><p >Birth Date</p></div>
                <div class="col-1"><p>:</p></div>
                <div class="col-7"><p>16.06.1997</p></div>
            </div>
            <div class="row mt-2">
                <div class="col-4"><p>Phone Number</p></div>
                <div class="col-1"><p>:</p></div>
                <div class="col-7"><p>+90 554 111 04 40</p></div>
            </div>
            <div class="row mt-2">
                <div class="col-4"><p>E-mail</p></div>
                <div class="col-1"><p>:</p></div>
                <div class="col-7"><p>omrabt@gmail.com</p></div>
            </div>
            <p class="mt-4 font-weight-bold h5">Education</p>   <!-- ilk bölüm-->
            <div class="row">
                <div class="col-5"><p>2016 – Present</p></div>
                <div class="col-7"><p> <b>Istanbul University</b> <br>
                    Computer Engineering(3rd grade)</p></div>
            </div>
            <div class="row">
                <div class="col-5"><p>2011 – 2015</p></div>
                <div class="col-7"><p><b>Van Anatolian Teacher High School</b></p></div>
            </div>
            <p class="mt-4 font-weight-bold h5">Work Experience</p>  <!--section-->
            <div class="row mt-2">
                <div class="col-5"><p>24.06.2019 – 22.07.2019</p></div>
                <div class="col-7"><p> <b>Imona Cloud Tech.</b> <br>
                    <b>Software Intern</b> <br>
                    -Imona Cloud  <br>
                    -Katalon Application <br>
                    -HTML5<br>
                    -CSS</p></div>
            </div>
            <p class="font-weight-bold h5">Competencies</p>
            <div class="row mt-2">
                <div class="col-5"></div>
                <div class="col-7"><p> <b>-</b>PYHTON<br>
                    <b>-</b>JAVA<br>
                    <b>-</b>C / C++<br>
                    <b>-</b>HTML <br>
                    <b>-</b>MySQL <br>
                    <b>-</b>Katalon studio <br>
                    <b>-</b>HTML5 <br>
                    <b>-</b>CSS <br>
                    <b>-</b>Postman <br>
                    <b>-</b>Android Studio</p></div>
            </div>
    </div>
    
        

    
</div>    
</div>




  <hr>
  {% endblock content %} 